.bg-home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/imgs/bg-home.jpg");
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container {
  width: 370px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 16px;
  color: var(--white);
  .red-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    background-color: var(--error);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .error-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-left: 20px;
    .warning-icon {
      width: 20px;
      height: 20px;
    }
    .pipe-icon {
      width: 1px;
      height: 20px;
      background-color: var(--white);
    }
    .close-icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 18px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  input {
    width: 80%;
    max-width: 360px;
    height: 48px;
    padding: 12px;
    border-radius: 40px;
    color: var(--white);
    background-color: #1c1a20cc;
    border: 1px solid var(--white);
    color: var(--white);
  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    img {
      width: 7.5px;
      height: 12px;
    }
  }
}

@media (max-width: 725px) {
  h1 {
    font-size: 37px;
  }

  .home-content,
  .input-container {
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 30px;
  }

  .home-content,
  .input-container {
    flex-direction: column;
    gap: 24px;
  }

  .error-container {
    width: 93%;
    .error-content {
      gap: 4px;
    }

    span {
      font-size: 14px;
    }
  }
}
