section,
video {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  min-width: 300px;
  object-fit: contain; // oder cover, je nach Wunsch
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality-selctor {
  margin: 5px 10px;
}

.video-js {
  position: relative;
  background: #181818;
}

.skip-button {
  color: white;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
