@use "styles.scss" as *;

section,
video {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  min-width: 300px;
  object-fit: contain; // oder cover, je nach Wunsch
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality-selctor {
  margin: 5px 10px;
}

.video-js {
  position: relative;
  background: #181818;
}

.vg-controls {
  @include dFlex($fd: column);
  width: 100%;
  margin-bottom: 1px;
  height: min-content;
}

.top-control-warapper {
  @include dFlex($fd: row);
  width: 100%;
}

.bottom-control-wrapper {
  @include dFlex($jc: space-between, $ai: center, $fd: flex);
  min-width: 100%;
}

.left-controls,
.right-controls,
.title {
  display: flex;
  align-items: center;
}

.left-controls {
  gap: 10px;
}

.title {
  font-size: 20px;
}

.skip-button {
  color: white;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0px;
  img {
    width: 24px;
  }
}

.fullscreen-btn {
  width: 18px;
  height: auto;
  background-color: transparent;
  img {
    width: 24px;
    padding: 0;
  }
}

@media (max-width: $MediaQueryBreakPoint3) {
  .title {
    display: none !important;
  }
}

@media (max-width: $MediaQueryBreakPoint5) {
  .left-controls {
    gap: 5px;
  }
}
