<section *ngIf="video">
  <vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <video
      [vgMedia]="$any(media)"
      #media
      [poster]="video.thumbnail_url"
      [vgHls]="video.hls_playlist_url"
      (onGetBitrates)="hlsBitrates = $event"
      id="my-video"
      type="video/mp4"
    ></video>

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-quality-selector></vg-quality-selector>

      <vg-fullscreen></vg-fullscreen>

      <button class="skip-button" (click)="skip(-5)">
        <img
          src="imgs/player-arrow-back.png"
          alt="Rewind 5 seconds"
          width="24"
          height="24"
        />
      </button>

      <button class="skip-button" (click)="skip(5)">
        <img
          src="imgs/player-arrow-forward.png"
          alt="Forward 5 seconds"
          width="24"
          height="24"
        />
      </button>
    </vg-controls>
  </vg-player>
</section>
