<section *ngIf="video">
  <vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <video
      #media
      id="my-video"
      [vgMedia]="$any(media)"
      [poster]="video.thumbnail_url"
      crossorigin="anonymous"
      preload="auto"
    ></video>

    <vg-controls class="vg-controls">
      <div class="top-control-warapper">
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-time-display
          vgProperty="current"
          vgFormat="mm:ss"
        ></vg-time-display>
      </div>
      <div class="bottom-control-wrapper">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <select class="quality-selctor" (change)="changeQuality($event)">
          <option *ngFor="let q of qualities" [value]="q.level">
            {{ q.label }}
          </option>
        </select>

        <button class="fullscreen-btn" (click)="toggleFullscreen()">
          <img
            [src]="isFullscreen ? 'imgs/fullscreen.svg' : 'imgs/fullscreen.svg'"
            alt="Fullscreen Toggle"
          />
        </button>

        <button class="skip-button" (click)="skip(-5)">
          <img src="imgs/replay_10.svg" alt="Rewind 5 seconds" />
        </button>

        <button class="skip-button" (click)="skip(5)">
          <img src="imgs/forward_10.svg" alt="Forward 5 seconds" />
        </button>
      </div>
    </vg-controls>
  </vg-player>
</section>
