@use "styles.scss" as *;

.category-grid {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  color: var(--white);
  margin-bottom: 48px;
  margin-left: 96px;
}

.category-grid__title {
  @include dFlex();
  font-size: 22px;
  margin-bottom: 16px;
  text-transform: capitalize;
}
