header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 96px;
  padding-bottom: 10px;
  padding-left: 96px;

  img {
    width: 200px;
    height: 32px;
    cursor: pointer;
  }
}

.logo-text {
  display: flex;
}

.logo-no-text {
  display: none;
}

@media (max-width: 725px) {
  header {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 600px) {
  .logo-no-text {
    display: flex;
  }

  .logo-text {
    display: none;
  }
}
