@use "styles.scss" as *;

.footer-auth {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  background-color: transparent;
  padding: 1rem 0;
  text-align: center;
  box-shadow: none;
  nav {
    display: flex;
    justify-content: center;
    gap: 48px;
  }
}

.footer-main {
  position: relative;
  max-width: 1980px;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 100%;
  background-color: transparent;
  padding: 1rem 0;
  text-align: center;
  box-shadow: none;
  padding-right: 96px;
  nav {
    display: flex;
    justify-content: right;
    gap: 48px;
  }
}

@media (max-width: $MediaQueryBreakPoint1) {
}
@media (max-width: $MediaQueryBreakPoint2) {
}
@media (max-width: $MediaQueryBreakPoint3) {
  a {
    font-size: 16px;
  }
  .footer-main {
    right: auto;
    padding-right: 0;
    nav {
      justify-content: center;
    }
  }
}

@media (max-width: $MediaQueryBreakPoint4) {
  a {
    font-size: 14px;
  }
}
@media (max-width: $MediaQueryBreakPoint5) {
}
