.bg-forgotPassword {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/imgs/bg-popcorn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forgotPassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  h2,
  span {
    text-align: center;
  }
}

.forgotPassword-content {
  position: relative;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 725px) {
  h2 {
    font-size: 37px;
  }

  .content-home,
  .input-container {
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 30px;
  }

  .content-home,
  .input-container {
    flex-direction: column;
    gap: 24px;
  }
}

.auth-background {
  height: 100vh;
}
