<div class="bg-forgotPassword forgotPassword-container">
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="forgotPassword-content display-general"
  >
    <h2 class="text-center text-bold">Forgot your password?</h2>

    <span class="text-center"
      >We will send you an email with instructions to reset your password.</span
    >

    <!-- Email Input -->
    <div class="container-input-field">
      <img src="imgs/icon-mail.png" alt="Mail icon" />
      <input
        type="email"
        formControlName="email"
        placeholder="Email Address"
        aria-label="Email"
      />
    </div>

    <div class="btn-container">
      <button type="submit" [disabled]="forgotPasswordForm.invalid">
        Send Email
      </button>
    </div>
  </form>
</div>
