@use "styles.scss" as *;

section {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  width: 100%;
  max-width: 1980px;
  max-height: 800px;
  height: 100vh;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.3) 0%,
    rgba(20, 20, 20, 0.5) 40%,
    rgba(20, 20, 20, 0.8) 80%,
    rgb(20, 20, 20)
  );
  display: flex;
  padding-left: 96px;
  z-index: 20;
  button {
    margin-top: 32px;
  }
}

.hero-content {
  max-width: 600px;
  color: white;
  margin-top: 170px;
}

.hero-title {
  font-size: 88px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.hero-description {
  font-size: 18px;
  font-weight: 400;
}

.hero-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  img {
    width: 18px;
    height: 18px;
  }
}

.play-icon {
  width: 20px;
  height: 20px;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: black;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Responsive Design
@media (max-width: 768px) {
  .hero-overlay {
    padding: 20px;
  }

  .hero-content {
    padding: 20px;
    max-width: 100%;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    -webkit-line-clamp: 2;
  }
}

@media (max-width: $MediaQueryBreakPoint1) {
  section {
    max-height: 640px;
  }
  .hero-overlay {
    padding-left: $main-left-right-distance1;
  }
  .hero-content {
    margin-top: 130px;
    padding: 0px;
  }
}

@media (max-width: $MediaQueryBreakPoint2) {
  section {
    max-height: 580px;
  }
  .hero-overlay {
    padding: $main-left-right-distance2;
  }
}
@media (max-width: $MediaQueryBreakPoint3) {
  section {
    max-height: 460px;
  }
  .hero-overlay {
    padding: $main-left-right-distance3;
  }
  .button-text {
    display: none;
  }
  .hide-hero-media-home {
    display: none;
  }
}
@media (max-width: $MediaQueryBreakPoint4) {
  section {
    max-height: 380px;
  }
  .hero-overlay {
    padding: $main-left-right-distance4;
  }
}
@media (max-width: $MediaQueryBreakPoint5) {
  section {
    max-height: 340px;
  }
  .hero-overlay {
    padding: $main-left-right-distance5;
  }
}
