@use "styles.scss" as *;

header {
  position: fixed;
  top: 0px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1980px;
  height: 100px;
  background-color: transparent;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-right: $main-left-right-distance1;
  padding-bottom: 45px;
  padding-left: $main-left-right-distance1;

  img {
    height: 48px;
    width: auto;
  }

  button {
    font-size: 18px;
    font-weight: 600;
    width: max-content;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.logo {
  display: flex;
  width: max-content;
}

.arrow-back {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: $MediaQueryBreakPoint1) {
  header {
    img {
      width: 36px;
      height: auto;
    }
    button {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: $MediaQueryBreakPoint2) {
  header {
    padding-left: $main-left-right-distance2;
    padding-right: $main-left-right-distance2;
    img {
      width: 32px;
      height: auto;
    }
    button {
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media (max-width: $MediaQueryBreakPoint3) {
  header {
    padding-left: $main-left-right-distance3;
    padding-right: $main-left-right-distance3;
    img {
      width: 32px;
      height: auto;
    }
    button {
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media (max-width: $MediaQueryBreakPoint4) {
  header {
    padding-left: $main-left-right-distance4;
    padding-right: $main-left-right-distance4;
  }
  .logo-no-text {
    display: flex;
  }

  .logo-text {
    display: none;
  }
}

@media (max-width: $MediaQueryBreakPoint5) {
  header {
    padding-left: $main-left-right-distance5;
    padding-right: $main-left-right-distance5;
    img {
      width: 28px;
      height: auto;
    }
    button {
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
