//@use "styles.scss" as *;

header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-right: 96px;
  padding-bottom: 45px;
  padding-left: 96px;

  img {
    width: 200px;
    height: 32px;
  }

  button {
    font-size: 18px;
    font-weight: 600;
    width: max-content;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.logo {
  display: flex;
}

.arrow-back {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 725px) {
  header {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 600px) {
  .logo-no-text {
    display: flex;
  }

  .logo-text {
    display: none;
  }
}
