<div class="bg-login login-container">
  <div class="login-content display-general">
    <h2 class="text-center">Log in</h2>
    <div class="container-input-field">
      <img src="imgs/icon-mail.png" alt="icon of mail" />
      <input type="email" placeholder="Email Address" />
    </div>
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="icon of mail" />
      <input type="password" placeholder="Password" />
      <img
        class="pw-img-visibility"
        src="imgs/icon-visibility-off.png"
        alt="icon of mail"
      />
      <img
        class="pw-img-visibility"
        src="imgs/icon-visibility.png"
        alt="icon of mail"
      />
    </div>
    <div class="btn-container">
      <button>Log in</button>
    </div>
    <a class="text-center" href="#">Forgot password?</a>
    <div class="auth-links">
      <a href="#">New to Videoflix?</a>
      <a class="text-bold" href="#">Sign Up now</a>
    </div>
  </div>
</div>
