<div class="bg-login login-container">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="login-content display-general"
  >
    <h2 class="text-center text-bold">Log in</h2>

    <!-- Email Input -->
    <div class="container-input-field">
      <img src="imgs/icon-mail.png" alt="Mail icon" />
      <input
        type="email"
        formControlName="email"
        placeholder="Email Address"
        aria-label="Email"
      />
    </div>

    <!-- Password Input -->
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="Password icon" />
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Password"
        aria-label="Password"
      />

      <img
        class="pw-img-visibility"
        (click)="togglePassword()"
        [src]="
          showPassword
            ? 'imgs/icon-visibility.png'
            : 'imgs/icon-visibility-off.png'
        "
        alt="Toggle visibility"
      />
    </div>

    <div class="btn-container">
      <button type="submit" [disabled]="loginForm.invalid">Log in</button>
    </div>

    <a class="text-center" href="/forgot-password">Forgot password?</a>
    <div class="auth-links">
      <span class="text-center">New to Videoflix?</span>
      <a class="text-center text-bold" href="/sign-up">Sign Up now</a>
    </div>
  </form>
</div>
