<div class="bg-reset-password reset-password-container">
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="reset-password-content display-general"
  >
    <h2 class="text-center text-bold">Reset password</h2>

    <span
      >Create a new password for your
      <span class="highlighted-text">Videoflix</span> account.</span
    >

    <!-- First Password Input -->
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="Password icon" />
      <input
        [type]="showFirstPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Enter a password"
        aria-label="Password"
      />

      <img
        class="pw-img-visibility"
        (click)="toggleFirstPassword()"
        [src]="
          showFirstPassword
            ? 'imgs/icon-visibility.png'
            : 'imgs/icon-visibility-off.png'
        "
        alt="Toggle visibility"
      />
    </div>

    <!-- Second Password Input -->
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="Password icon" />
      <input
        [type]="showSecondPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Confirm Password"
        aria-label="Password"
      />

      <img
        class="pw-img-visibility"
        (click)="toggleSecondPassword()"
        [src]="
          showSecondPassword
            ? 'imgs/icon-visibility.png'
            : 'imgs/icon-visibility-off.png'
        "
        alt="Toggle visibility"
      />

      <div
        *ngIf="resetPasswordForm.hasError('passwordMismatch')"
        class="error-message"
      >
        <img src="imgs/warning.png" alt="warning icon" />
        <span class="error"> Passwords must match.</span>
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" [disabled]="resetPasswordForm.invalid">
        Reset my password
      </button>
    </div>
  </form>
</div>
