@use "styles.scss" as *;

section {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  width: 100%;
  max-width: 1980px;
  min-height: 100vh;
  background-color: var(--matte-black);
}

app-category-grid {
  margin-top: -120px;
  z-index: 20;
}
