/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #2e3edf;
  --white: #ffffff;
  --error: #ff002e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--white);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    filter: brightness(1.05);
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

a {
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.25s ease;
}

a:hover,
a:focus {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--white);
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.display-general {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #1b1b22d9;
  border-radius: 48px;
  padding: 43px 56px;
  width: clamp(300px, 45%, 520px);
}

.container-input-field {
  position: relative;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    left: 15px;
    width: 24px;
    height: 24px;
  }

  input {
    width: 100%;
    background-color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 45px;

    //&:hover {
    //  border-color: var(--error);
    //}
    &:focus {
      border-color: var(--primary-color);
    }
  }

  input::placeholder {
    color: var(--white);
    opacity: 0.7;
  }

  .error {
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    color: var(--error);
  }
}
