<div class="bg-reset-password reset-password-container">
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="reset-password-content display-general"
  >
    <h2 class="text-center text-bold">Reset password</h2>

    <span
      >Create a new password for your
      <span class="highlighted-text">Videoflix</span> account.</span
    >

    <!-- First Password Input -->
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="Password icon" />
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Enter a password"
        aria-label="Password"
      />

      <img
        class="pw-img-visibility"
        (click)="togglePassword()"
        [src]="
          showPassword
            ? 'imgs/icon-visibility.png'
            : 'imgs/icon-visibility-off.png'
        "
        alt="Toggle visibility"
      />

      <div
        *ngIf="
          resetPasswordForm.get('password')?.hasError('minLengthPassword') &&
          resetPasswordForm.get('password')?.touched
        "
        class="error-message"
      >
        <img src="imgs/warning.png" alt="warning icon" />
        <span class="error">At least 10 characters long.</span>
      </div>
    </div>

    <!-- Second Password Input -->
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="Password icon" />
      <input
        [type]="showRepeatedPassword ? 'text' : 'password'"
        formControlName="repeatedPassword"
        placeholder="Confirm Password"
        aria-label="Password"
      />

      <img
        class="pw-img-visibility"
        (click)="toggleRepeatedPassword()"
        [src]="
          showRepeatedPassword
            ? 'imgs/icon-visibility.png'
            : 'imgs/icon-visibility-off.png'
        "
        alt="Toggle visibility"
      />

      <div
        *ngIf="
          resetPasswordForm.hasError('passwordMismatch') &&
          resetPasswordForm.get('password')?.value &&
          resetPasswordForm.get('repeatedPassword')?.value
        "
        class="error-message"
      >
        <img src="imgs/warning.png" alt="warning icon" />
        <span class="error"> Passwords must match.</span>
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" [disabled]="resetPasswordForm.invalid">
        Reset my password
      </button>
    </div>
  </form>

  <div class="error-container" *ngIf="errorVisible">
    <div class="red-bg"></div>
    <div class="error-content">
      <img class="warning-icon" src="imgs/warning.svg" alt="warning icon" />
      <span class="text-center">Reset is not possible</span>
      <div class="pipe-icon"></div>
      <img
        (click)="hideError()"
        class="close-icon"
        src="imgs/close.png"
        alt="close icon"
      />
    </div>
  </div>
</div>
