<div class="bg-forgotPassword forgotPassword-container">
  <form
    ngNativeValidate
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="forgotPassword-content display-general"
  >
    <h2 class="text-center text-bold">Forgot your password?</h2>

    <span class="text-center"
      >We will send you an email with instructions to reset your password.</span
    >

    <!-- Email Input -->
    <div class="container-input-field">
      <img src="imgs/icon-mail.png" alt="Mail icon" />
      <input
        required
        type="email"
        formControlName="email"
        placeholder="Email Address"
        aria-label="Email"
      />
    </div>

    <div class="btn-container">
      <button type="submit">Send Email</button>
    </div>
  </form>
  <div class="notification-container" *ngIf="notificationVisible">
    <div class="notification-content">
      <span class="text-center"
        >If a verified account exists, you will receive an email with further
        instructions.</span
      >
      <div class="pipe-icon"></div>
      <img
        (click)="hideNotification()"
        class="close-icon"
        src="imgs/close.png"
        alt="close icon"
      />
    </div>
  </div>
</div>
