@use "styles.scss" as *;

.main-wrapper {
  @include dFlex($fd: column, $jc: flex-start, $ai: center);
  width: 100%;
  min-height: 100vh;
}

section {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  width: 100%;
  max-width: 1980px;
  min-height: 100vh;
}

app-hero-section {
  width: 100%;
}

.recommendations-wrapper {
  box-sizing: border-box;
  max-width: 100%;
  padding-left: 96px;
}

.more-like-title {
  color: white;
  font-size: 26px;
  font-weight: 700;
  margin-top: 64px;
  margin-bottom: 12px;
}

@media (max-width: $MediaQueryBreakPoint1) {
}
@media (max-width: $MediaQueryBreakPoint2) {
}
@media (max-width: $MediaQueryBreakPoint3) {
  .recommendations-wrapper {
    padding-left: $main-left-right-distance3;
  }
}
@media (max-width: $MediaQueryBreakPoint4) {
  .recommendations-wrapper {
    padding-left: $main-left-right-distance4;
  }
}
@media (max-width: $MediaQueryBreakPoint5) {
  .recommendations-wrapper {
    padding-left: $main-left-right-distance5;
  }
}
