@use "styles.scss" as *;

.main-wrapper {
  @include dFlex($fd: column, $jc: flex-start, $ai: center);
  width: 100%;
  min-height: 100vh;
}

section {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  width: 100%;
  max-width: 1980px;
  min-height: 100vh;
}

app-hero-section {
  width: 100%;
}

.recommendations-wrapper {
  margin-left: 96px;
}

.more-like-title {
  color: white;
  font-size: 28px;
  font-weight: 700;
  margin-top: 64px;
  margin-bottom: 12px;
}
