<section *ngIf="video">
  <div class="hero-section">
    <div class="hero-overlay">
      <div class="title-section">
        <h1>{{ video.title }}</h1>
      </div>
      <div class="description-section">
        <p>{{ video.description }}</p>
      </div>
      <div class="play-button-section">
        <button
          class="play-button"
          type="button"
          (click)="videoService.openVideoPlayer(video.id.toString())"
        >
          Play
        </button>
      </div>
    </div>
    <img [src]="video.thumbnail_url" alt="thumbnail" />
  </div>
</section>
