<div class="bg-sign-up sign-up-container">
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
    class="sign-up-content display-general"
  >
    <h2 class="text-center text-bold">Sign up</h2>

    <!-- Email Input -->
    <div class="container-input-field">
      <img src="imgs/icon-mail.png" alt="Mail icon" />
      <input
        [readonly]="isEmailPrefilled"
        type="email"
        formControlName="email"
        placeholder="Email Address"
        aria-label="Email"
      />
    </div>

    <!-- First Password Input -->
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="Password icon" />
      <input
        class="pw-input"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Enter a password"
        aria-label="Password"
      />

      <img
        class="pw-img-visibility"
        (click)="togglePassword()"
        [src]="
          showPassword
            ? 'imgs/icon-visibility.png'
            : 'imgs/icon-visibility-off.png'
        "
        alt="Toggle visibility"
      />

      <div
        *ngIf="
          signUpForm.get('password')?.hasError('minLengthPassword') &&
          signUpForm.get('password')?.touched
        "
        class="error-message"
      >
        <img src="imgs/warning.png" alt="warning icon" />
        <span class="error">At least 10 characters long.</span>
      </div>
    </div>

    <!-- Second Password Input -->
    <div class="container-input-field">
      <img src="imgs/icon-password.png" alt="Password icon" />
      <input
        class="pw-input"
        [type]="showRepeatedPassword ? 'text' : 'password'"
        formControlName="repeatedPassword"
        placeholder="Confirm Password"
        aria-label="Password"
      />

      <img
        class="pw-img-visibility"
        (click)="toggleRepeatedPassword()"
        [src]="
          showRepeatedPassword
            ? 'imgs/icon-visibility.png'
            : 'imgs/icon-visibility-off.png'
        "
        alt="Toggle visibility"
      />

      <div
        *ngIf="
          signUpForm.hasError('passwordMismatch') &&
          signUpForm.get('password')?.value &&
          signUpForm.get('repeatedPassword')?.value
        "
        class="error-message"
      >
        <img src="imgs/warning.png" alt="warning icon" />
        <span class="error"> Passwords must match.</span>
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" [disabled]="signUpForm.invalid">Get Started</button>
    </div>
  </form>
  <div class="error-container" *ngIf="errorVisible">
    <div class="red-bg"></div>
    <div class="error-content">
      <img class="warning-icon" src="imgs/warning.svg" alt="warning icon" />
      <span class="text-center">Please check your input and try again.</span>
      <div class="pipe-icon"></div>
      <img
        (click)="hideError()"
        class="close-icon"
        src="imgs/close.png"
        alt="close icon"
      />
    </div>
  </div>
</div>
